*{
    background-color: cornflowerblue;
}
.container{
    width: 100vh;
    height: 100px;
    background-position: center;
    background-size: cover;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;    
}
@media (min-width: 200px) and (max-width:300px){
    div{
        background-color: rgb(142, 102, 0);
    }
}
.navmenu{
    display: flex;
}
.navmenu a{
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    color: black;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400px;
    transition: all .42s;
    text-shadow: 3px 2px rgb(255, 0, 111);
    left: 200px;
    font-weight: bold;
}
.navbar{
    width:100% ;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: cornflowerblue;
} 
.logo{
    width: 160px;
    cursor: pointer;
}
.carousel-item{
    height: 450px;
    width: 50px;
}
.content h1{
    font-size: 3rem;
    margin-top: 24px;
    margin-bottom: 15px;
    font-family: "Moon Dance", cursive;
    color: #000000;
    text-shadow: 2px 1px rgb(255, 0, 0);
}
.content p{
    font-size: 20px;
    font-family: "Shadows Into Light", system-ui;
    font-weight: bold;
}
.content{
    margin-left: 10px;
    margin-top: 10px;
}
.content .btn{
    font-family: "Shadows Into Light", system-ui;
    display: inline-block;
    border-radius: 26px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 3px 8px 22px rgba(rgb(255, 174, 0), rgb(0, 0, 0), rgb(225, 255, 0), 0.15);
    background-color: rgb(0, 0, 0);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
    color: rgb(255, 187, 0);
}
.content .btn:hover{
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}
.content .btn:active{
    background-color: #15ff00;
}
#stop p{
    color: #ff0000;
    background-color: rgb(0, 59, 58);
    height: 30px;
    text-align: center;
    background-size: cover;
}
